@import url("font/fonts.css");

body{
	font-family: 'ITC New Baskerville', serif !important;
	
}

.bootstrap_form label, .bootstrap_form input, .bootstrap_form button, .bootstrap_form select, .bootstrap_form textarea{
	font-family: 'ITC New Baskerville', serif !important;
}

.block.bt_form_input .form_input input[type=text], .block.bt_form_input .form_input input[type=email], .block.bt_form_input .form_input input[type=tel]{
	font-family: 'ITC New Baskerville', serif !important;
	border: 1px solid #D8BDB4 !important;
	box-shadow: inset 0 0px 0px transparent !important;
	background-color: #ffffff !important;
	border-color: #D8BDB4 !important;
	border-width: 2px 2px 2px 2px !important;
	border-radius: 2px 2px 2px 2px !important;
	font-size: 18px !important;
	width: 300px !important;
	max-width: 60% !important;
	padding: 10px;
}

.block.bt_form_input .form_input input[type=text]:hover, .block.bt_form_input .form_input input[type=email]:hover, .block.bt_form_input .form_input input[type=tel]:hover,
.block.bt_form_input .form_input input[type=text]:active, .block.bt_form_input .form_input input[type=email]:active, .block.bt_form_input .form_input input[type=tel]:active,
.block.bt_form_input .form_input input[type=text]:focus, .block.bt_form_input .form_input input[type=email]:focus, .block.bt_form_input .form_input input[type=tel]:focus{
	border-color: #D8BDB4 !important;
	box-shadow: inset 0 0px 0px transparent !important;
}	


.bulletproof_button_medium{
	font-family: 'ITC New Baskerville', serif !important;
	font-size: 16px !important;
	color: #3D3935  !important;
	background-color: #D8BDB4  !important;
	border-style: solid  !important;
	border-width: 2px 2px 2px 2px  !important;
	border-color: #D8BDB4  !important;
	border-radius: 0px 0px 0px 0px  !important;
	padding: 10px 30px 10px 30px  !important
}

.bulletproof_button_medium:hover{
	color: #D8BDB4  !important;
	background-color: #ffffff  !important;
}

#status-text{
	width: 80% !important; 
	margin: 0px 0px !important;
}

#status-text .alert{
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 auto !important;
	font-size: 11px !important;
}
 
